name: "Code Checks"

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  FORCE_COLOR: 1

jobs:
  common-code-checks:
    name: Common Code Checks
    permissions:
      contents: read
      actions: read # Allow the workflow to read actions metadata
      pull-requests: write # Allow the workflow to create and modify pull request comments
      security-events: write # Allow the workflow to upload analysis results
    uses: JackPlowman/reusable-workflows/.github/workflows/common-code-checks.yml@4dbbe72d602ba81717428c7b48815d1bf6743ee0 # v2025.11.21.03
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}

  codeql-checks:
    name: CodeQL Analysis
    permissions:
      contents: read
      security-events: write # Allow the workflow to upload analysis results
    strategy:
      matrix:
        language: [actions, python]
    uses: JackPlowman/reusable-workflows/.github/workflows/codeql-analysis.yml@4dbbe72d602ba81717428c7b48815d1bf6743ee0 # v2025.11.21.03
    with:
      language: ${{ matrix.language }}

  run-python-tests-lint-checks:
    name: Run Python Tests Lint Checks
    runs-on: ubuntu-latest
    permissions:
      security-events: write # to upload analysis results
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up dependencies
        uses: ./.github/actions/setup-tests-dependencies
      - name: Generate Ruff Sarif
        run: just tests::ruff-lint-check
        env:
          RUFF_OUTPUT_FORMAT: "sarif"
          RUFF_OUTPUT_FILE: "ruff-results.sarif"
        continue-on-error: true
      - name: Upload Ruff analysis results to GitHub
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4.31.4
        with:
          sarif_file: tests/ruff-results.sarif
          wait-for-processing: true
      - name: Check Python Code Linting (Ruff)
        run: just tests::ruff-lint-check
        env:
          RUFF_OUTPUT_FORMAT: "github"

  run-python-tests-format-checks:
    name: Run Python Tests Format Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up dependencies
        uses: ./.github/actions/setup-tests-dependencies
      - name: Check Python Code Format (Ruff)
        run: just tests::ruff-format-check
        env:
          RUFF_OUTPUT_FORMAT: "github"

  run-python-tests-type-checks:
    name: Run Python Tests Type Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up dependencies
        uses: ./.github/actions/setup-tests-dependencies
      - name: Check Python Code Types (ty) Checks
        run: just tests::ty-check

  run-python-tests-lockfile-check:
    name: Run Python Tests Lockfile Check
    runs-on: ubuntu-latest
    permissions:
      security-events: write # to upload analysis results
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up dependencies
        uses: ./.github/actions/setup-tests-dependencies
      - name: Check UV Lockfile
        run: just tests::uv-lock-check

  sonarcloud-scan:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  schema-validation:
    name: Schema Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up dependencies
        uses: ./.github/actions/setup-tests-dependencies
      - name: Copy config to schema validation directory
        run: cp github-pages/config.json tests/schema_validation
      - name: Validate Config against schema
        run: just tests::validate-schema
