name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  deploy-github-pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    permissions:
      pages: write # to deploy to GitHub Pages
      id-token: write # to deploy to GitHub Pages
    timeout-minutes: 60
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Create Directories
        run: mkdir -p _site
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@44a6e6beabd48582f863aeeb6cb2151cc1716697 # v1.0.13
        with:
          source: ./github-pages
          destination: ./_site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ./_site
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5

  ui-tests:
    name: Run UI Tests in ${{ matrix.browser }}
    runs-on: ubuntu-latest
    needs: deploy-github-pages
    strategy:
      fail-fast: false
      matrix:
        browser: [firefox, chromium, webkit]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up Python Tests Dependencies
        uses: ./.github/actions/setup-tests-dependencies
        with:
          setup-browsers: true
      - name: Install Playwright Dependencies
        shell: bash
        run: just tests::playwright-install
      - name: Run UI Tests
        run: just tests::run-ci "$BROWSER"
        env:
          BROWSER: ${{ matrix.browser }}

  link-tests:
    name: Link Tests
    runs-on: ubuntu-latest
    needs: deploy-github-pages
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Run Link Tests
        uses: JustinBeckwith/linkinator-action@3d5ba091319fa7b0ac14703761eebb7d100e6f6d # v1.11.0
        with:
          paths: https://jackplowman.github.io/tech-radar/
          recurse: true
          timeout: 1000
          markdown: false
